a.brand-logo {
    left: 0.5rem !important;
    padding: 0 !important;
}

nav ul li a{
    color: black;
    line-height: 100px;
}

nav{
    height: 100px
}

nav .title{
    color: #73CABF !important;
    font-size: 20pt;
}